p {
    color: blue; 
    font-style: italic;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
}
body {
    font-family: 'Merriweather', serif;
    margin: auto;
    padding: 20px;
}
li {
    font-style: italic;
}
header{
    height: 400px;
    width: 900;
    margin-bottom: 10px; 
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.avatar{
    float: right;
    width: 25%;
}
.year{
    text-align: center;
}
div{
  float: left;
  text-align: center;
  margin: 50px;
  line-height: 120px;
  font-size: 40px;
  color: navy;
  font-style: oblique;
}
nav div{
    color: aliceblue;
}
a:visited{
    color: rgb(6, 229, 241);
}
.logo{
    width: 50%;
}