@font-face {
    font-family: 'Permanent Marker';
    font-style: italic;
    src: url(assets/fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'Kanit';
    src: url(assets/fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: 'Kanit';
    font-style: italic;
    src: url(assets/fonts/Kanit-Italic.ttf);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Kanit';
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: blue;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    color: red;
}

.section {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.avatar-picture {
    width: 300px;
    border-radius: 15px;

}

.profile-title,
.profilesubtitle {
    font-family: 'Permanent Marker';
    font-style: italic;

}

.profile-title {
    font-size: 50px;
    color: rgb(83, 5, 5);
}

.profile-subtitle {
    font-size: 20px;
    color: rgb(19, 7, 122);
}

.section-title {
    font-family: 'Kanit';
    font-style: italic;
    text-align: start;
}